@import url("/fonts/style.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000000;
  color: #ffffff;
  /* font-family: "SF UI Display Semibold"; */
}

@layer utilities {
  .grid-header-logo {
    grid-area: 1 / 1 / 2 / 2;
  }
  .grid-header-logo-sm {
    grid-row: 1 / 1 / 2 / 3;
  }
  .font-logo {
    font-family: "SF UI Display Bold";
  }
  .font-link {
    font-family: "SF UI Display Medium";
  }
  .gradient-header-logo {
    color: #2fdd92;
  }
  .hero-word {
    background: -webkit-radial-gradient(
      circle farthest-side at center center,
      #2fdd92 0%,
      #00c89d 100%
    );
    background: -moz-radial-gradient(
      circle farthest-side at center center,
      #2fdd92 0%,
      #00c89d 100%
    );
    background: radial-gradient(
      circle farthest-side at center center,
      #2fdd92 0%,
      #00c89d 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "SF UI Display Semibold";
    font-size: 54px;
  }
  .hero-name-grad {
    background: -webkit-radial-gradient(
      circle farthest-side at center center,
      #2fdd92 0%,
      #00c89d 100%
    );
    background: -moz-radial-gradient(
      circle farthest-side at center center,
      #2fdd92 0%,
      #00c89d 100%
    );
    background: radial-gradient(
      circle farthest-side at center center,
      #2fdd92 0%,
      #00c89d 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hero-font {
    font-family: "SF UI Display Semibold";
    font-size: 54px;
  }
  .hero-name {
    font-family: "SF UI Display Medium";
    font-size: 28px;
  }
  .tech-section-grid {
    grid-template-columns: 1fr 1fr;
  }
  .tech-section-grid-vw {
    width: calc(100vw - 32px);
  }
  .section-title {
    font-family: "SF UI Display Bold";
    font-weight: 800;
    font-size: 65px;
    line-height: 72px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .tech-section-title {
    background: #63ecf7;
    background: -webkit-radial-gradient(
      circle farthest-side at center center,
      #63ecf7 0%,
      #84dfff 100%
    );
    background: -moz-radial-gradient(
      circle farthest-side at center center,
      #63ecf7 0%,
      #84dfff 100%
    );
    background: radial-gradient(
      circle farthest-side at center center,
      #63ecf7 0%,
      #84dfff 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .project-section-title {
    background: #d47ae8;
    background: -webkit-radial-gradient(
      circle farthest-side at top right,
      #d47ae8 0%,
      #ff77c4 100%
    );
    background: -moz-radial-gradient(
      circle farthest-side at top right,
      #d47ae8 0%,
      #ff77c4 100%
    );
    background: radial-gradient(
      circle farthest-side at top right,
      #d47ae8 0%,
      #ff77c4 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .section-title-md {
    font-size: 56px;
    line-height: 56px;
  }
  .section-title-sm {
    font-size: 32px;
    line-height: 40px;
  }
  .tech-title {
    font-family: "SF UI Display Medium";
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
  }
  .tech-background-grad {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  }
  .scrollbar-disabled::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-disabled {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .tabs-background {
    background-color: #ffffff;
  }
}
